
<div>
<section class="banner">
    <div class="banner-text-item">
        <div class="banner-heading">
            <h1>Find your Next Destination!</h1>
        </div>
        <form class="form">
            <!-- <input type="text" list="mylist" placeholder="Where would you like to go?">
            <datalist id="mylist">
                <option>London</option>
                <option>Canada</option>
                <option>Monaco</option>
                <option>France</option>
                <option>Japan</option>
                <option>Switzerland</option>
                <option>Seoul</option>
            </datalist> -->
            <!-- <input type="date" class="date"> -->
            <div class="row filterbtn">
            <button (click)="dialgsrv.showDialog=true" class="book"> 
                <img id="filterimg" src="../../assets/filter.png">
                <p >Filter</p>
               </button>
            </div>   
            <!-- <a href="#" class="book">book</a> -->
        </form>
    </div>
</section>
</div>
